{% extends 'base.html.twig' %}

{% block title %}New TimeEntry{% endblock %}

{% block body %}
    <h1>Create new TimeEntry</h1>

    {{ include('time_entry/_form.html.twig') }}

    <a href="{{ path('app_time_entry_index') }}">back to list</a>
{% endblock %}
