{% extends 'base.html.twig' %}

{% block title %}New TimeEntry{% endblock %}

{% block body %}
    <h1>Create new TimeEntry</h1>

    {{ include('time_entry/_form.html.twig') }}

    {% set back = time_entry.relatedOrder
    ? path('app_order_show', {'id': time_entry.relatedOrder.id})
    : path('app_time_entry_index') %}

    <a href="{{ back }}">Back</a>
{% endblock %}
