{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    <h1>Edit Client</h1>

    {# templates/client/edit.html.twig #}
    {% if linkedUser %}
    <div class="alert alert-secondary d-flex align-items-center justify-content-between">
        <div>
        <div class="fw-medium">Linked account</div>
        <div class="small text-secondary">👤 {{ linkedUser.email }}</div>
        </div>
        <span class="badge text-bg-success rounded-1">Linked</span>
    </div>
    {% endif %}
    
    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_client_index') }}">back to list</a>

    {{ include('client/_delete_form.html.twig') }}

{% endblock %}
