{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block body %}
  {% if is_granted('ROLE_CLIENT') and not is_granted('ROLE_ADMIN') %}
    {% include 'dashboard/client.html.twig' %}
  {% elseif is_granted('ROLE_ADMIN') %}
    {% include 'dashboard/admin.html.twig' %}
  {% else %}
    <div class="container py-5">
      <div class="alert alert-warning">No dashboard available for your role.</div>
    </div>
  {% endif %}
{% endblock %}
